/* Importar as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Playfair+Display+SC:wght@400;700&display=swap');

body {
  margin: 0;
  /* Aplicar Belleza como fonte padrão para todo o corpo */
  font-family: 'Belleza', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aplicar Playfair Display SC para títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}